seqdiag {

	// Set edge metrix.
	edge_length = 300;  // default value is 192
	span_height = 80;  // default value is 40

	// Set fontsize.
	default_fontsize = 16;  // default value is 11

	// Do not show activity line
	activation = none;

	// Numbering edges automaticaly
	autonumber = True;

	// Change note color
	default_note_color = lightblue;

   === Thread-<NUM-1> ===

	caller-src -> callee-src [leftnote = "caller func-name(@line)",  label = "call: callee func-name(@line); <timestamp>", color = red];


   === Thread-<NUM-2> ===
	
	caller-src -> callee-src [leftnote = "caller func-name(@line)",  label = "call: callee func-name(@line); <timestamp>", color = blue];

    ... Separator line ...

	caller-src <-- callee-src [rightnote = "callee func-name(@line)",  label = "return: caller func-name(@line); <timestamp>", color = blue];
}
