seqdiag {

	// Set edge metrix.
	edge_length = 300;  // default value is 192
	span_height = 80;  // default value is 40

	// Set fontsize.
	default_fontsize = 16;  // default value is 11

	// Do not show activity line
	activation = none;

	// Numbering edges automaticaly
	autonumber = True;

	// Change note color
	default_note_color = lightblue;

	{{#parts}}
	=== PID-{{&pid}} [{{&startTime}} ~ {{&endTime}}]  ===
	{{#interactions}}
	{{#isReq}}"{{&sImg}}:{{&sCode}}" -> "{{&tImg}}:{{tCode}}" [leftnote = "{{&sFunc}}()<{{&sCode}}:{{&sLine}}>",  label = "Call: {{&tFunc}}()<{{&tCode}}:{{&tLine}}>; tid={{&tid}}; time={{&timestamp}}", color = {{&color}}];{{/isReq}}{{^isReq}}"{{&tImg}}:{{tCode}}" --> "{{&sImg}}:{{&sCode}}" [rightnote = "{{&tFunc}}()<{{&tCode}}:{{&tLine}}>",  label = "Return: {{&sFunc}}()<{{&sCode}}:{{&sLine}}>; tid={{&tid}}; time={{&timestamp}}", color = {{&color}}];{{/isReq}} 
	{{/interactions}}
	{{/parts}}
}
