{{#parts}}
{{#stacks}}
pid-{{&pid}};{{#interactions}}[{{&reqSeq}}]{{&sFunc}}({{&sImg}}:{{&sCode}}:<{{&sLine}}>);[{{&reqSeq}}]{{&tFunc}}({{&tImg}}:{{&tCode}}:<{{&tLine}}>);{{/interactions}} 1
{{/stacks}}
{{/parts}}
